@import "tailwindcss";
@import "./main.css";

@font-face {
  font-family: 'ClashDisplay';
  src: url('font/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@theme {
    --color-darknavy: #0B1120;
    --color-glasswhite: #FFFFFF38;
  
    --font-clash: 'ClashDisplay';
  
    --spacing-53: 53px;
    --spacing-44: 44px;
    --spacing-168: 168px;
  
    --text-sm: 14px;
    --text-xl: 64px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xs: 10px
    --text-32: 32px
    --text-64: 64px
}
